<div class="container">
  <si-scroll-gallery [gap]="200" [activatedItemPosition]="'center'">
    <si-gallery-item>
      A
    </si-gallery-item>
    <si-gallery-item>
      B
    </si-gallery-item>
    <si-gallery-item>
      C
    </si-gallery-item>
    <si-gallery-item>
      D
    </si-gallery-item>
    <si-gallery-item>
      E
    </si-gallery-item>
    <si-gallery-item>
      F
    </si-gallery-item>
    <si-gallery-item>
      G
    </si-gallery-item>
    <si-gallery-item>
      H
    </si-gallery-item>
  </si-scroll-gallery>
</div>
