.content-container {
  si-scroll-gallery {
    width: 100vw;
  }

  si-gallery-item {
    width: 240px;
    height: 320px;

    line-height: 320px;
    text-align: center;
    font-size: 36px;

    user-select: none;
  }
}

table.api-table {
  font-family: Vollkorn, Helvetica, sans-serif;
  width: 60%;
  margin: auto;
}
